@font-face {
  font-family: "DIN Round Pro";
  src: url("/assets/fonts/DIN-Round-Pro/DINRoundPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Round Pro";
  src: url("/assets/fonts/DIN-Round-Pro/DINRoundPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN Round Pro";
  src: url("/assets/fonts/DIN-Round-Pro/DINRoundPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Rounds Neue";
  src: url("/assets/fonts/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
