@use "./variables" as *;

body {
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 1.5;
  color: $color-text-1;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
  font-weight: $font-bold;
  line-height: 1.2;
  color: $color-text-2;
}

p {
  font-family: $font-main;
  font-weight: $font-regular;
  color: $color-text-2;
  margin-bottom: 1rem;
}

.subtitle, .secondary-text {
  font-family: $font-alt;
  font-weight: 400;
  color: $color-text-link;
}

.cards__title, .cards__text {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $color-text-card;
}

.doctor__name {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $color-text-doctor;
}

.doctor__position {
  font-family: $font-main;
  font-weight: $font-regular;
  color: $color-text-doctor2;
}
