.doctor-slider {
  margin-top: 63px;
  text-align: left;
  margin-right: -2.5%;
  &__title {
    display: inline-block;
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(36px, 4vw, 56px);
    line-height: 0.86;
    letter-spacing: -0.03em;
    background: linear-gradient(29deg, #00adfe 0%, #34a3a0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 63px;


    padding-top: 0.2em;
    padding-bottom: 0.2em;
    -webkit-box-decoration-break: clone;
  }


  &__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__decor {
    flex-shrink: 0;
    width: 80px;
    height: 66px;
    transform: translateY(-40px);
    margin-right: 60px;
    margin-left: 30px;
margin-top: 90px;
  }

  &__card {
    position: relative;
    width: 389px;
    height: 280px;
    border-radius: 34px;
    overflow: hidden;
    border: 4px solid rgba(255, 255, 255, 0.77);
    background: linear-gradient(149deg, #cef5f6 0%, #a5ecee 100%);

  }
  &__photo-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    font-family: var(--font-family);

    h3 {
      font-weight: 500;
      font-size: 22px;
      line-height: 105%;
      letter-spacing: -0.03em;
      color: #fff !important;
      margin-bottom: 4px;
    }

    p {
      font-size: 16px;
      opacity: 0.85;
      color: #fff !important;
    }
  }

  &__progress {
    position: relative;
    width: 389px;
    height: 4px;
    border-radius: 40px;
    background: #c1cede;
    margin: 59px 30px  0px;

    &-active {
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      border-radius: 40px;
      background: #34a3a0;
      width: 0%;
      transition: width 0.3s;
    }
  }
}

.doctor-swiper {
  overflow: hidden;
}

.doctor-swiper .swiper-wrapper {
  display: flex;
}

.swiper {
  width: 100%;
  max-width: 100%;
}

.swiper-slide {
  width: 389px !important;
  flex-shrink: 0;
}
.doctor-swiper {
  width: 100%;
  max-width: 1250px;
  overflow: hidden;
  position: relative;
  cursor: grab;
}
.doctor-slider__icon-circle {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background-color: rgba(15, 90, 121, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.doctor-slider__icon-circle img {
  width: 18px;
  height: 18px;
}
.doctor-swiper .swiper-wrapper {
  display: flex;
  transition-timing-function: ease;
}

.doctor-swiper .swiper-slide {
  user-select: none;
}
.doctor-swiper .swiper-slide {
  width: 389px;
  flex-shrink: 0;
}


.doctor-slider__blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 0;
}


.doctor-slider__card {
  position: relative;
  width: 389px;
  height: 280px;
  border-radius: 34px;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, 0.77);
  background: linear-gradient(149deg, #cef5f6 0%, #a5ecee 100%);
  transition: all 0.4s ease;
}

.doctor-slider__photo-wrapper,
.doctor-slider__overlay {
  transition: all 0.3s ease;
}

.doctor-slider__details {
  position: absolute;
  inset: 0;
  border-radius: 3px;
  background: linear-gradient(149deg, #cef5f6 0%, #a5ecee 100%);
  box-shadow: 0 10px 44px 0 rgba(0, 22, 54, 0.12);
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: all 0.4s ease;

  padding-top: 41px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.doctor-slider__details h3 {
  margin-top: 22px;
  margin-bottom: 6px;
}


.doctor-slider__details h3 span {

}
.doctor-slider__details ul {
  padding-left: 10px;
  margin: 6px 0;
}
.doctor-slider__details li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  letter-spacing: -0.01em;
  color: #333232;
  list-style-type: disc;
  margin-bottom: 4px;
}


.doctor-slider__details-circle {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 30px;
  height: 30px;
  border-radius: 60px;

  background-color: rgba(15, 90, 121, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 4;
}

.doctor-slider__card.active .doctor-slider__details {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 3;
}


.doctor-slider__card.active .doctor-slider__photo-wrapper,
.doctor-slider__card.active .doctor-slider__overlay {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  pointer-events: none;
}

@media (max-width: 900px) {
  .doctor-slider__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 42px;
    line-height: 86%;
    letter-spacing: -0.03em;
    background: linear-gradient(29deg, #00adfe 0%, #34a3a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
    text-align: left;
  }
.swiper-slide {
  width: auto !important;
}
  .doctor-slider__card {
    width: 293px;
    height: 280px;
  }
.doctor-slider__details h3 {
  margin-top: 10px;
}
  .doctor-slider__card.active .doctor-slider__photo-wrapper {
    border-radius: 24px;
  }
  .doctor-slider__details {
    border-radius: 24px;
  }
  .doctor-slider__photo {
    border-radius: 20px;
  }

  .doctor-slider__overlay h3,
  .doctor-slider__details h3 {
    font-size: 18px;
  }

  .doctor-slider__details p,
  .doctor-slider__details li {
    font-size: 12px;
  }

  .doctor-slider__progress {
    margin-top: 40px;
  }
}



@media (max-width: 900px) {
  .doctor-slider__decor {
    display: none;
  }

  .doctor-slider__progress {
    width: 97.5% !important;

    margin-left: -1%;

  }

  .doctor-slider {
    margin-right: -16px;
margin-top: 55px;

    &__wrapper {

      padding-right: 0px;
    }
  }
}