@use "../base/variables" as vars;

.header {
  display: flex;
  justify-content: center;

  height: 90px;
  padding: 0 2%;

  .header__container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin-top: 35px;
  }


  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 30px;
      height: 33px;
      object-fit: contain;
    }
  }

  &__services {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    a {
      font-family: vars.$font-main;
      font-weight: 500;
      font-size: 16px;
      color: #1c1c1c;
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: vars.$color-text-blue;
      }
    }

    @media (max-width: 1170px) {
      display: none;
    }
  }


  &__contact {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 24px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 30px;
      padding: 0 12px;
      font-family: vars.$font-main;
      font-weight: 500;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .btn-number {
      width: 180px;
      height: 60px;
      background: vars.$btn-number-bg;
      color: #fff;

      img.icon-call {
        width: 30px;
        height: 30px;
      }

      @media (max-width: 1170px) {
        display: none;
      }
    }

    .btn-login {
      width: 120px;
      height: 60px;
      background: vars.$btn-login;
      color: #fff;

      img.icon-enter {
        width: 34px;
        height: 34px;
      }
    }

    .btn-menu {
      display: none;

      @media (max-width: 1170px) {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: #fff;
        align-items: center;
        justify-content: center;

        img {
          width: 25px;
          height: 19px;
        }
      }
    }
  }
}
@media (max-width: 1170px) {
  .header__container {
    margin-top: 20px !important;
  }}
@media (min-width: 1920px) {
  .header__container {
   padding: 0 2%;
  }}
.mobile-menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(201deg, #012449 0%, #0c4667 100%);  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__top {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
  margin-top: 20px;
  }

  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
      height: 33px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .btn-login {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 30px;
      color: #fff;
      font-family: vars.$font-main;
      font-weight: 500;
      font-size: 16px;
      padding: 0 20px;
      height: 50px;
      border: none;
      cursor: pointer;

      img {
        width: 34px;
        height: 34px;
      }
    }

    .btn-close {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #fff;
      font-size: 28px;
      color: #004f8e;
      border: none;
      cursor: pointer;
    }
  }

  &__nav {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    a {
      font-family: vars.$font-main;
      font-weight: 500;
      font-size: 26px;
      color: white;
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: vars.$color-text-blue;
      }
    }
  }

  &__btn {
    margin-top: 60px;
    background: #fff;
    color: #251f1f;
    border: none;
    border-radius: 30px;
    padding: 0 43px;
    height: 60px;
    font-family: vars.$font-main;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 17px;
      height: 18px;
      fill: #251f1f;
      stroke-width: 1px;
      stroke: #251f1f;
    }

    &:hover {
      background: #f5f5f5;
    }
  }

  &__phone {
    margin-top: 50px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #43e0dc;
  }

  .contact-left__icons {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 40px;

    img {
      width: 42px;
      height: 42px;
      object-fit: contain;
    }
  }
}

@media (min-width: 1171px) {
  .mobile-menu {
    display: none;
  }
}
