@use "../base/variables" as vars;

.header {
  position: relative;
  z-index: 10;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 670px;
  margin: -90px auto 0;
  border-radius: 0 0 42px 42px;
  background-image: url('/assets/images/hero_a2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;


  .hero__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 674px;
    height: 670px;
    object-fit: cover;

    z-index: 2;
    pointer-events: none;
  }

  .hero__icon {
    position: absolute;
    left: 2.5%;
    width: 310px;
    height: 130px;
    bottom: calc(38px + 60px + 52px + 68px + 60px);
    z-index: 3;
  }

  .hero__title {
    position: absolute;
    left: 2.5%;
    bottom: calc(38px + 60px + 52px);
    max-width: 784px;
    font-family: vars.$font-main;
    font-weight: 500;
    font-size: 68px;
    line-height: 81%;
    letter-spacing: -0.03em;
    color: #fff;
    z-index: 3;
  }

  .hero__btn {
    position: absolute;
    left: 2.5%;
    bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 43px;
    height: 60px;
    border-radius: 30px;
    background: #fff;
    font-family: vars.$font-main;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #251f1f;
    border: none;
    cursor: pointer;
    z-index: 3;

    svg {
      width: 17px;
      height: 18px;
      fill: #251f1f;
      stroke-width: 1px;
      stroke: #251f1f;
    }
  }
}

@media (max-width: 718px) {
  .hero {
    height: 540px;
    border-radius: 0 0 21px 21px;

    .hero__gradient {
      width: 430px;
      height: 540px !important;
      object-fit: cover;

      top: 0;
      left: 0;
    }

    .hero__icon {
      left: 3.7%;
      width: 187px;
      height: 79px;

      bottom: calc(13px + 52px + 13px + 52px + 96px) !important;
    }

    .hero__title {
      left: 3.7%;
      bottom: calc(13px + 52px + 38px) !important;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 42px;
      line-height: 86%;
      letter-spacing: -0.03em;
      color: #fff;
      max-width: 300px;
    }

    .hero__btn {
      left: 3.7%;
      bottom: 20px !important;



    }
  }
}