.questions {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 58px;

  &__card-left, &__card-right {
    border-radius: 34px;
    height: 359px;
    position: relative;
    box-sizing: border-box;
   width: 50%;
  }

  &__card-left {
    background: linear-gradient(150deg, #34a3a0 0%, #44a1ff 100%);
    padding: 27px 32px 0 32px;

    &-title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 44px;
      line-height: 0.93;
      letter-spacing: -0.03em;
      color: #fff;
      margin-bottom: 16px;
    }
    .questions__card-left-subtitle {
      white-space: pre-wrap;
    }

    &-subtitle {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 28px;
      line-height: 0.93;
      letter-spacing: -0.03em;
      color: #0f5a79;
      text-align: left;
      text-decoration-skip-ink: none;
      margin-bottom: 38px;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      border-radius: 30px;
      width: 293px;
      height: 60px;
      background: #fff;
      padding: 0 20px;

      img {

        width: 17px;
        height: 18px;
      }

      span {
        font-family: "DIN Round Pro", sans-serif !important;
        font-weight: 500;
        font-weight: 500;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.03em;
        color: #251f1f;
        margin-bottom: 3px;
      }
    }
  }

  &__card-right {
    border-radius: 34px;
    z-index: 99999 !important;
    flex: 1 1 0;
    background: url('/assets/images/photo.png') no-repeat center;
    background-size: cover;
    &-svg-top {
      position: absolute;
      width: 470px;
      height: 80px;
      top: 223px;
      left: 20px;
    }

    &-svg-bottom {
      position: absolute;
      width: 221px;
      height: 270px;
      bottom: 0;
      right: 0;
    }
  }
  .questions__card-left-subtitle {
    display: block;
    width: auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 0.93;
    letter-spacing: -0.03em;
    color: #0f5a79;
    text-align: left;

    text-decoration-skip-ink: none;
    margin-bottom: 38px;
    white-space: normal;
  }

  @media (max-width: 1440px) and (min-width: 999px) {
    &__card-left, &__card-right {
      width: calc((100% - 24px) / 2);
    }
  }

  @media (max-width: 999px) {
    flex-direction: column;
    &__card-left, &__card-right {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
@media (max-width: 999px) and (min-width: 375px) {
  .questions {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 54px;
    &__card-right,
    &__card-left {
      width: 100%;
      height: 359px;
      border-radius: 24px;
      margin-bottom: 20px;
      overflow: hidden;
    }

    &__card-right {
      background: url('/assets/images/photo.png') no-repeat center;
      background-size: cover;
      position: relative;

      &-svg-top {
        position: absolute;
        width: 321px;
        height: 55px;

        right: 20px;
      }

      &-svg-bottom {
        position: absolute;
        width: 221px;
        height: 270px;
        bottom: 0;
        right: 0;
      }
    }

    &__card-left {
      background: linear-gradient(150deg, #34a3a0 0%, #44a1ff 100%);
      padding: 27px 20px 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 40px;
        line-height: 0.9;
        letter-spacing: -0.03em;
        color: #fff;
        margin-bottom: 17px;
      }

      &-subtitle {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 28px;
        line-height: 1.04;
        letter-spacing: -0.03em;
        color: #0f5a79;
        text-align: left;
        margin-bottom: 30px;
        white-space: pre-wrap;
      }

      &-button {

        border-radius: 30px;
        width: 100%;
        max-width: 366px;
        height: 60px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
          width: 17px;
          height: 18px;
        }

        span {
            font-family: "DIN Round Pro", sans-serif !important;
            font-weight: 500;

          font-weight: 500;
          font-size: 28px;
          line-height: 1;
          letter-spacing: -0.03em;
          color: #251f1f;

        }

      }
    }
  }
}
.map-block {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  margin: auto;

  &__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 42px 42px 0 0;
    width: 100%;
    height: 673px;
    z-index: 1;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    border-radius: inherit;
  }

  .map-link {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  @media (max-width: 899px) {
    &__wrapper {
      border-radius: 24px 24px 0 0;
      height: 600px;
    }
  }
}

.footer {
  position: relative;
  z-index: 2;
  margin-top: -50px;
}


@media (max-width: 899px) {
  .questions {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .questions__card-left,
  .questions__card-right {
    width: 100%;
    height: 359px;
    border-radius: 24px;
    overflow: hidden;
    flex: none;
  }

  .questions__card-left {
    padding: 27px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .questions__card-right {
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.requisites-block {
  margin-bottom: 58px;
  margin-top: 57px;
  font-family: var(--font-family);

  &__title {
    font-weight: 500;
    font-size: 56px;
    line-height: 86%;
    letter-spacing: -0.03em;
    background: linear-gradient(29deg, #00adfe 0%, #34a3a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 57px;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    flex-wrap: wrap;
  }

  &__left,
  &__right {
    width: calc(50% - 27px);
  }

  &__company {
    font-weight: 500;
    font-size: 28px;
    line-height: 93%;
    letter-spacing: -0.03em;
    color: #02284c;
    margin-bottom: 35px;
  }

  &__info,
  &__account,
  &__bank {
    font-weight: 500;
    font-size: 28px;
    line-height: 93%;
    letter-spacing: -0.03em;
    color: #02284c;
    margin-bottom: 35px;
  }

  &__bank {
    margin-bottom: 50px;
  }

  &__copy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    width: 335px;
    height: 60px;
    background: #cff1ff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #251f1f;
    cursor: pointer;
    gap: 5px;
    flex-direction: row-reverse;

    img {
      width: 20px;
      height: 20px;
    }
  }
  @media (max-width: 900px) {
    .requisites-block__title {
      font-size: 42px;
    }
    &__content {
      flex-direction: column;
      gap: 0;
    }

    &__left,
    &__right {
      width: 100%;
    }

    &__copy-btn {
      margin-top: 0;
      width: 100%;
    }
  }
}
@media (max-width: 407px) and (min-width: 340px) {
  .questions__card-left,
  .questions__card-right {
    width: 100%;
    height: 410px;
    border-radius: 24px;
    overflow: hidden;
    flex: none;
  }
}
.questions__phone {
  width: auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 0.93;
  letter-spacing: -0.03em;
  color: #0f5a79;
  text-align: left;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  margin-bottom: 38px;
  white-space: normal;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color:  #0f5a79;
  text-decoration-skip-ink: none;
}
