.support__tab {
  background: transparent;
  border: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 50%;
  letter-spacing: -0.05em;
  color: #c1cede;
  cursor: pointer;
  &--active { color: var(--color-text-blue); }
}
.faq-question-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 93%;
  letter-spacing: -0.03em;
  color: #0f5a79;
}
.support-faq__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 56px;
  line-height: 86%;
  letter-spacing: -0.03em;
  background: linear-gradient(29deg, #00adfe 0%, #34a3a0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 15px;
  margin: 66px 0 51px 0; /* отступ сверху и снизу */
}
.support__tabs-underline {
  position: relative;
  width: 595px;
  height: 2px;
  margin-bottom: 40px;

  .underline { background: #c1cede; height: 2px; width: 100%; position: absolute; top: 0; }
  .underline-active { background: #13477e; height: 2px; width: 45%; position: absolute; top: 0; transition: all 0.4s ease-in-out; }
  &.patients-active .underline-active { left: 45%; width: 55%; }
}

.support-faq__content { margin-top: 0px; }

.faq-item {  border-bottom: 2px solid #c1cede; padding-bottom: 38px; }

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 93%;
  letter-spacing: -0.03em;
  color: #0f5a79;
  cursor: pointer;

  svg { cursor: pointer; }
}

.faq-answer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #26828c;
  margin-top: 38px;
}
.faq-toggle-icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

/* если крестик другой размер */
.faq-toggle-close {
  width: 58px;
  height: 58px;
}

.faq-toggle-plus {
  width: 40px;
  height: 40px;
}
.faq-toggle-icon {
  transition: transform 0.3s ease;
}

.faq-toggle-open {
  transform: rotate(45deg); /* крестик */
}
.faq-toggle-circle {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #cef5f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.faq-plus {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.faq-toggle-circle.open .faq-plus {
  transform: rotate(45deg);
}
.faq-item {
  position: relative;
  padding-top: 38px; /* отступ сверху, чтобы линия не перекрывала текст */
  border-bottom: 2px solid #c1cede; /* линия под вопросом */
}

.faq-item:first-child {
  border-top: 2px solid #c1cede; /* линия над первым вопросом */
}
@media (min-width: 345px) and (max-width: 900px) {
  .support__tab {
    font-size: 32px;
    line-height: 81%;
    letter-spacing: -0.05em;
    flex: 1 1 50%;
    text-align: left;
    padding: 0;
  }

  .support__tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }

  .support__tabs-underline {
    display: flex;
    width: 100%;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 32px;

    .underline,
    .underline-active {
      flex: 1 1 50%;
      height: 2px;
      position: relative;
      top: 0;
    }

    .underline {
      background: #c1cede;
    }

    .underline-active {
      background: #13477e;
      transition: all 0.4s ease-in-out;
    }

    &.patients-active .underline-active {
      left: 50%;
      width: 50%;
    }
  }

  .support-faq__content {
    margin-top: 38px;
  }

  .faq-item {

    border-bottom: 2px solid #c1cede;
  }

  .faq-item:first-child {
    border-top: 2px solid #c1cede;
  }

  .faq-question {
    font-size: 20px;
    line-height: 100%;

  }
  .faq-question __text {
   width: 80%;

  }

  .faq-answer {
    font-size: 14px;
    line-height: 120%;
    margin-top: 20px;
  }

  .faq-toggle-circle {
    width: 56px;
    height: 56px;
  }

  .faq-plus {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 900px) and (min-width: 345px) {
  .support-faq__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 42px;
    line-height: 86%;
    letter-spacing: -0.03em;
    background: linear-gradient(29deg, #00adfe 0%, #34a3a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
    margin: 50px 0 35px 0; /* отступ сверху и снизу */
  }
  .faq-question-text {
  width: 80%;
  }
}

.services__tabs-underline {
  position: relative;
  width: 595px;
  height: 2px;
  margin-bottom: 40px;

  .underline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #c1cede;
  }

  .underline-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%; // ширина под "Врачам"
    height: 2px;
    background: #13477e;
    transition: all 0.3s ease;
  }

  &.patients-active .underline-active {
    left: 45%; // смещение вправо
    width: 55%;
    background: #13477e;
  }
}
.services__tabs-underline.patients-active .underline-active {
  left: 45%;
  width: 55%;
  background: #13477e;
}
.underline-active {
  transition: all 0.4s ease-in-out;
}

.support-faq {

  margin-top: 54px;

  .support__tabs {
    display: flex;
    align-items: center;
    gap: 110px;
    margin-bottom: 27px;
    position: relative;

    .support__tab {
      background: transparent;
      border: 0;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 52px;
      line-height: 50%;
      letter-spacing: -0.05em;
      color: #c1cede;
      padding: 0;
      cursor: pointer;
      transition: color 0.3s;

      &--active {
        color: #13477e;
      }
    }
  }

  .support__tabs-underline {
    position: relative;
    width: 595px;
    height: 2px;
    margin-bottom: 40px;

    .underline {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #c1cede;
    }

    .underline-active {
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      height: 2px;
      background: #13477e;
      transition: all 0.3s ease;
    }

    &.patients-active .underline-active {
      left: 45%;
      width: 55%;
      background: #13477e;
    }
  }

  @media (max-width: 1151px) and (min-width: 345px) {
    .support__tabs {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      gap: 0;

      .support__tab {
        flex: 1 1 50%;
        text-align: left;
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 81%;
        letter-spacing: -0.05em;
        padding: 0;
        transition: color 0.3s ease;
      }
    }

    .support__tabs-underline {
      display: flex;
      width: 100%;
      height: 2px;
      margin-top: 8px;
      margin-bottom: 32px;

      .underline {
        flex: 1 1 50%;
        background: #c1cede;
        height: 2px;
      }

      .underline-active {
        flex: 1 1 50%;
        background: #13477e;
        height: 2px;
        transition: all 0.3s ease;
      }
    }

    .support__tabs-underline.patients-active .underline-active {
      left: 50%;
      width: 50%;
      background: #13477e;
    }
  }
}

/* Заголовок */
.required-forms__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 56px;
  line-height: 86%;
  letter-spacing: -0.03em;
  background: linear-gradient(29deg, #00adfe 0%, #34a3a0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 103px;
  padding-bottom: 15px;
  margin-bottom: 61px; /* отступ вниз */
}

/* Карточки */
.required-forms__cards {
  display: flex;
  gap: 24px; /* расстояние между карточками */
  margin-bottom: 76px;
}

.required-forms__card {
  position: relative;
  border: 1px solid #e5f8ff;
  border-radius: 34px;
  width: 286px;
  height: 310px;
  background: rgba(140, 238, 255, 0.08);
  padding: 33px 20px 28px 20px; /* верхний и левый отступы */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Иконка SVG */
.required-forms__icon {
  width: 22px;
  height: 26px;
  margin-bottom: 28px;
}

/* Текст карточки */
.required-forms__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 93%;
  letter-spacing: -0.03em;
  color: #0f5a79;
  margin-bottom: auto; /* чтобы кнопка была снизу */
}

/* Кнопка */
.required-forms__btn {
  display: flex;
  align-items: center;
justify-content:  center;
  border-radius: 60px;
  width: 240px;
  height: 60px;
  background: #cff1ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #251f1f;
  padding: 0 20px;
  border: none;
  cursor: pointer;
}

/* Иконка стрелки в кнопке */
.required-forms__btn-icon {
  width: 12px;
  height: 16px;
  margin-left: 14px;
}
@media (max-width: 980px) and (min-width: 345px) {
  .required-forms__cards {
    flex-direction: column;
    gap: 24px; /* вертикальный отступ между карточками */
    align-items: stretch; /* карточки растягиваются на всю ширину */
    width: 100%;

  }

  .required-forms__card {
    width: 100%; /* растягиваем на всю ширину родителя */
    max-width: none; /* убираем ограничение по ширине */
    height: 262px;
    padding: 28px 16px; /* внутренние отступы */
    text-align: left; /* текст по левому краю */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .required-forms__icon {
    margin-bottom: 16px;
  }

  .required-forms__text {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 28px;
  }

  .required-forms__btn {
    width: 100%; /* кнопка на всю ширину карточки */
    font-size: 14px;
    height: 50px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .required-forms__btn-icon {
    width: 12px;
    height: 16px;
    margin-left: 10px;
  }

  .required-forms__title {
    font-size: 42px; /* чуть меньше на мобильных */
    margin-bottom: 40px;
    margin-top: 77px;
  }
}
